<h2>Liste de tous les fans : </h2>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date de Naissance</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fan of listFan">
            <td>{{fan.name}}</td>
            <td>{{fan.birthdate | date : 'dd/MM/yyyy'}}</td>
            <td>
                <button routerLink="/fan/details/{{fan.id}}">🔍</button>
                <button routerLink="/fan/edit/{{fan.id}}">📝</button>
                <button (click)="delete(fan.id)">🗑</button>  
                <!--Panel Emoji windows : Touche Windows + ; -->
            </td>
        </tr>
    </tbody>
</table>
<button routerLink="/fan/create">Ajouter un nouveau fan</button>