<h2>Détails du fan</h2>
<a routerLink="/fan">Retour à la liste des fans</a>

<div *ngIf="fan">
    <div>Nom : {{fan.name}} </div>
    <div>Date de Naissance : {{ fan.birthdate | date : 'dd/MM/yyyy'}}</div>
    <div>Liste de ses séries préférées</div>
    <ul>
        <li *ngFor="let serie of fan.listSeries">
            {{ serie.title }}
        </li>
    </ul>
    <button routerLink="/fan/edit/{{fan.id}}">Modifier le fan</button>
    <button (click)="delete()">Supprimer le fan</button>
</div>


