<h2>Création d'un nouveau fan</h2>
<a routerLink="/fan">Retour à la liste des fans</a>

<form [formGroup]="fanForm" (ngSubmit)="addFan()">
    <div class="formgroup">
        <label for="name">Nom</label>
        <input id="name" type="text" formControlName="name">
        <span *ngIf="fanForm.get('name')?.touched && fanForm.get('name')?.errors?.['required']">Ce champs est requis</span>
    </div>
    <div class="formgroup">
        <label for="birthdate">Date de Naissance</label>
        <input id="birthdate" type="date" formControlName="birthdate">
        <span *ngIf="fanForm.get('birthdate')?.touched && fanForm.get('birthdate')?.errors?.['required']">Ce champs est requis</span>
        <span *ngIf="fanForm.get('birthdate')?.errors?.['peggi']">
            Vous devez avoir plus de 13 ans !
        </span>
    </div>

    <div formArrayName="series">   
        <h3>Ajouter des séries : </h3>
        <button type="button" (click)="addSeries()">Ajouter série</button>

        <div *ngFor="let serie of series.controls; index as i" class="formgroup">
            <label for="serie">Nom série : </label>
            <input id="serie" type="text" [formControlName]="i">
            <span *ngIf="serie.touched && !serie.valid">Ce champs est requis</span>
            <button type="button" (click)="removeSerie(i)">🗑</button>
        </div>
    </div>

    <input type="submit" value="Ajouter le fan">
</form>
